<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- 헤더 인클루드 -->
    <th:block th:replace="view/include/html_head"></th:block>
</head>

<body>
<!-- 검색창 인클루드 -->
<th:block th:replace="view/include/html_search"></th:block>

<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">

    <!-- 모바일 네비게이션 인클루드 -->
    <th:block th:replace="view/include/html_mobile_nav"></th:block>

    <!-- 왼쪽 네비게이션 메뉴 인클루드 -->
    <th:block th:replace="view/include/html_nav_menu"></th:block>

    <!--왼쪽 카테고리 메뉴바-->
    <div class="shop_sidebar_area">
        <!-- ##### Single Widget ##### -->
        <div class="widget catagory mb-50">
            <!-- Widget Title -->
            <h6 class="widget-title mb-30">Categories</h6>

            <!--  Catagories  -->
            <div class="catagories-menu">
                <ul>
                    <li class="active"><a href="/product/bed">Bed</a></li>
                    <li><a href="/product/chest">Chest</a></li>
                    <li><a href="/product/table">Table</a></li>
                    <li><a href="/product/chair">Chair</a></li>
                    <li><a href="/product/lamp">Lamp</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!--상품 리스트 헤더-->
    <div class="amado_product_area section-padding-100">
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="product-topbar d-xl-flex align-items-end justify-content-between">
                        <!-- Total Products -->
                        <div class="total-products">
                            <p>Showing 1-8 0f 25</p>
                            <div class="view d-flex">
                                <a href="#"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <!-- Sorting -->
                        <div class="product-sorting d-flex">
                            <div class="sort-by-date d-flex align-items-center mr-15">
                                <p>Sort by</p>
                                <form action="#" method="get">
                                    <select name="select" id="sortBydate">
                                        <option value="value">Date</option>
                                        <option value="value">Newest</option>
                                        <option value="value">Popular</option>
                                    </select>
                                </form>
                            </div>
                            <div class="view-product d-flex align-items-center">
                                <p>View</p>
                                <form action="#" method="get">
                                    <select name="select" id="viewProduct">
                                        <option value="value">12</option>
                                        <option value="value">24</option>
                                        <option value="value">48</option>
                                        <option value="value">96</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--상품 썸네일 시작-->
            <div class="row">
                <th:block th:each="product:${product}">
                <!-- Single Product Area -->
                <div class="col-12 col-sm-6 col-md-12 col-xl-6">
                    <div class="single-product-wrapper">

                        <!-- Product Image -->
                        <div class="product-img">
<!--                            <a href="/product/bed/{{productId}}">-->

                            <a th:href="'/product/'+${product.productCategory}+'/'+${product.productId}">
<!--                                <a th:href="'/product/bed/'+${product.productId}">-->
<!--                            <img src="/static/img/product/bed/{{productThumnail}}" alt="">-->
                                    <img th:src="'/static/img/product/bed/'+${product.productThumnail}" alt="">
                                </a>
                            <!-- Hover Thumb -->
                            <!--<img class="hover-img" src="/static/img/product-img/product2.jpg" alt="">-->
                        </div>

                        <!-- Product Description -->
                        <div class="product-description d-flex align-items-center justify-content-between">
                            <!-- Product Meta Data -->
                            <div class="product-meta-data">
                                <div class="line"></div>
                                <p class="product-price" th:text="${product.productPrice} +' 원'"></p>
                                <a th:href="'/product/bed/'+${product.productId}">
                                    <h6 th:text="${product.productName}"></h6>
                                </a>
                            </div>
                            <!-- Ratings & Cart -->
                            <div class="ratings-cart text-right">
                                <!--<div class="ratings">-->
                                <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                                <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                                <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                                <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                                <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                                <!--</div>-->
                                <!--<div class="cart">-->
                                    <!--<a href="../cart.html" data-toggle="tooltip" data-placement="left" title="Add to Cart"><img-->
                                            <!--src="/static/img/core-img/cart.png" alt=""></a>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                </div>
                </th:block>
                <!--로우-->
            </div>
<!--            <div class="amado-btn">-->
<!--                <a href="/product/testsave" >테스트</a>-->
<!--            </div>-->
            <!-- Pagination -->
            <th:block th:if="${product.size()!=0}">
            <!--페이지네이션-->
            <div class="row">
                <div class="col-12">
                    <!-- Pagination -->
                    <nav aria-label="navigation">
                        <ul class="pagination justify-content-end mt-15" style="width: 66%;">
                            <li class="page-item"><a th:if="${pageMaker.isPrev()}" style="text-decoration: none;" th:onclick="|javascript:page('${pageMaker.getFirstPage()}')|" class="page-link">First</a></li>
                            <li class="page-item"><a th:if="${pageMaker.isPrev()}" style="text-decoration: none;" th:onclick="|javascript:page('${pageMaker.getStartPage()-5}')|" class="page-link"><<</a></li>
                            <th:block th:each="pageNum:${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
                                <li th:if="${pageMaker.getCurrentPage()==pageNum}" class="page-item active"><a th:text="${pageNum}" th:onclick="|javascript:page('${pageNum}')|" class="page-link"></a></li>
                                <li th:if="${pageMaker.getCurrentPage()!=pageNum}" class="page-item"><a th:text="${pageNum}" th:onclick="|javascript:page('${pageNum}')|" class="page-link"></a></li>
                            </th:block>
                            <th:block th:if="${pageMaker.totalcount>30}">
                                <li class="page-item"><a th:if="${pageMaker.isNext()}" style="text-decoration: none;" th:onclick="|javascript:page('${pageMaker.getEndPage()+1}')|" class="page-link">>></a></li>
                                <li class="page-item"><a th:if="${pageMaker.isNext()}" style="text-decoration: none;" th:onclick="|javascript:page('${pageMaker.getLastPage()}')|" class="page-link">Last</a></li>
                            </th:block>
                        </ul>
                    </nav>
                </div>
            </div>
            </th:block>



            <!--컨테이너-->
        </div>


    </div>
</div>
<!-- ##### Main Content Wrapper End ##### -->
<script>
    function page(pageNum) {
        location.href = "?pageNum=" + pageNum;
    }

</script>
<!-- 푸터 인클루드 -->
<footer th:replace="view/include/html_footer"></footer>
</body>

</html>