<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- 헤더 인클루드 -->
    <th:block th:replace="view/include/html_head"></th:block>
</head>

<body>
<!-- 검색창 인클루드 -->
<th:block th:replace="view/include/html_search"></th:block>

<!-- ##### Main Content Wrapper Start ##### 메인 컨텐츠 래퍼 시작-->
<div class="main-content-wrapper d-flex clearfix">

    <!-- 모바일 네비게이션 인클루드 -->
    <th:block th:replace="view/include/html_mobile_nav"></th:block>

    <!-- 왼쪽 네비게이션 메뉴 인클루드 -->
    <th:block th:replace="view/include/html_nav_menu"></th:block>

    <div class="cart-table-area section-padding-100">

        <div class="container-fluid">
            <div class="row">
                {{#info}}
                <div class="col-12 col-lg-8">
                    <div class="cart-title mt-50">
                        <h2>결제가 완료되었습니다!</h2>
                    </div>

                    <div class="cart-table clearfix">
                        <table class="table table-responsive">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="cart_product_img">
                                    <a href="#"><img src="/static/img/product/{{info.item_code}}/{{info.payload}}" alt="Product"></a>
                                </td>
                                <td class="cart_product_desc">
                                    <h5>{{info.item_name}}</h5>
                                </td>
                                <td class="price">
                                    <span>{{info.amount.total}}</span>
                                </td>
                                <td class="qty">
                                    <span>{{info.quantity}}</span>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    {{/info}}
                </div>
                {{#info}}
                <div class="col-12 col-lg-4">
                    <div class="cart-summary">
                        <h5>결제 내역</h5>
                        <ul class="summary-table">
                            <li><span>subtotal:</span> <span>{{info.amount.total}}</span></li>
                            <li><span>delivery:</span> <span>Free</span></li>
                            <li><span>total:</span> <span>{{info.amount.total}}</span></li>
                        </ul>
                    </div>
                </div>
                {{/info}}
            </div>
        </div>


    </div>
</div>
<!-- ##### Main Content Wrapper End ##### -->


<!-- 푸터 인클루드 -->
<footer th:replace="view/include/html_footer"></footer>
</body>

</html>