<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- 헤더 인클루드 -->
    <th:block th:replace="view/include/html_head"></th:block>
    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
</head>

<body>
<!-- 검색창 인클루드 -->
<th:block th:replace="view/include/html_search"></th:block>

<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">

    <!-- 모바일 네비게이션 인클루드 -->
    <th:block th:replace="view/include/html_mobile_nav"></th:block>

    <!-- 왼쪽 네비게이션 메뉴 인클루드 -->
    <th:block th:replace="view/include/html_nav_menu"></th:block>

    <div class="cart-table-area section-padding-100">
        <div class="container-fluid">

            <div class="row">

                <div class="col-12 col-lg-8">
                    <div class="checkout_details_area mt-50 clearfix">

                        <div class="cart-title">
                            <h2>결제하기</h2>
                        </div>

                        {{#sessionUser}}
                        <form method="post" action="/payment/kakaoPay">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <input type="text" class="form-control" id="userName" name="userName" value="{{sessionUser.nickname}}" placeholder="이름"
                                           required>
                                </div>
                                <div class="col-12 mb-3">
                                    <input type="text" class="form-control" id="phone_num" name="phone_num" placeholder="전화번호" value="">
                                </div>
                                <!--우편번호 찾기-->
                                <div class="col-md-6 mb-3">
                                    <input type="text" class="form-control" id="postcode" name="postcode" placeholder="우편번호" value="">
                                </div>
                                <div class="col-md-3 mb-3">
                                    <input type="button" class="btn amado-btn-grey w-100 active" onclick="sample4_execDaumPostcode()" value="주소 찾기">
                                </div>
                                <div class="col-12 mb-3">
                                    <input type="text" class="form-control mb-3" id="roadAddress" name="roadAddress" placeholder="도로명 주소"
                                           value="">
                                </div>
                                <div class="col-12 mb-3">
                                    <input type="text" class="form-control mb-3" id="jibunAddress" placeholder="지번 주소"
                                           value="">
                                </div>
                                <span id="guide" style="color:#999;display:none"></span>
                                <div class="col-12 mb-3">
                                    <input type="text" class="form-control mb-3" id="detailAddress" name="detailAddress" placeholder="상세 주소"
                                           value="">
                                </div>
                                <div class="col-12 mb-3">
                                    <input type="text" class="form-control mb-3" id="extraAddress" aceholder="참고 항목"
                                           value="">
                                </div>
                                <div class="col-12 mb-3">
                                    <textarea name="comment" class="form-control w-100" id="comment" cols="30" rows="10"
                                              placeholder="Leave a comment about your order"></textarea>
                                </div>

                                <div class="col-12">
                                    <div class="custom-control custom-checkbox d-block mb-2">
                                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                                        <label class="custom-control-label" for="customCheck2">Create an accout</label>
                                    </div>

                                </div>
                            </div>
                            {{#product}}
                            <!-- 카카오 페이-->
                            <div class="cart-btn mt-100">

                                <input type="hidden" name="productPrice" value={{productPrice}}>
                                <input type="hidden" name="productName" value={{productName}}>
                                <input type="hidden" name="productid" value={{productId}}>
                                <button class="btn amado-btn w-100">결제하기</button>

                            </div>
                        </form>

                    </div>
                </div>



                <div class="col-12 col-lg-4">
                    <div class="cart-summary">
                        <h5>Cart Total</h5>
                        <ul class="summary-table">
                            <li><span>subtotal:</span> <span>{{productPrice}}</span></li>
                            <li><span>delivery:</span> <span>Free</span></li>
                            <li><span>total:</span> <span></span></li>
                        </ul>




                    </div>
                </div>
                {{/product}}
                {{/sessionUser}}

            </div>
        </div>
    </div>
</div>
<!-- ##### Main Content Wrapper End ##### -->

<script>
    function  sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete : function(data) {
                var roadAddr = data.roadAddress;    // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 편수

                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동 주택일 경우 추가
                if(data.buildingName !== '' && data.apartment === 'Y'){
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                //  표시할 참고 항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }
                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('postcode').value = data.zonecode;
                document.getElementById("roadAddress").value = roadAddr;
                document.getElementById("jibunAddress").value = data.jibunAddress;

                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                if(roadAddr !== ''){
                    document.getElementById("extraAddress").value = extraRoadAddr;
                } else {
                    document.getElementById("extraAddress").value = '';
                }

                var guideTextBox = document.getElementById("guide");
                // 사용자가 '선택안함'을 클릭한 경우, 예상 주소 표시를 해준다.
                if(data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';

                } else if(data.autoJibunAddress) {
                    var expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
            }
        }).open();
    }
</script>

<!-- 푸터 인클루드 -->
<footer th:replace="view/include/html_footer"></footer>
</body>

</html>