<!DOCTYPE html>
<html lang="en">

<head>
    <!-- 헤더 인클루드 -->
    {{> view/include/html_head}}
    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
</head>

<body>
<!-- 검색창 인클루드 -->
{{> view/include/html_search}}

<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">
    <!-- 모바일 네비게이션 인클루드 -->
    {{> view/include/html_mobile_nav}}

    <!-- 왼쪽 네비게이션 메뉴 인클루드 -->
    {{> view/include/html_nav_menu}}

    <div class="cart-table-area section-padding-100">
        <div class="container-fluid">

            <div class="row">

                <div class="col-12 col-lg-8">
                    <div class="checkout_details_area mt-50 clearfix">

                        <div class="cart-title">
                            <h2>Review Write</h2>
                        </div>
<!--<div style="width: 80px; height: 3px; background-color: #fbb710; margin-bottom: 15px; display: block;"></div>-->
                        <form method="post" action="/review/review_save">

                            <div class="row">
                                <h4 style="margin-left: 15px; margin-top: 15px;">제목 </h4>
                                <div class="col-8 mb-3">
                                    <input type="text" class="form-control" id="reviewTitle" name="reviewTitle" placeholder="제목을 입력 하세요">
                                </div>
                                <!--<div class="col-md-6 mb-3">-->
                                    <!--<h3 id="userName">작성자</h3>-->
                                <!--</div>-->

                                <!--우편번호 찾기-->
                                <!--<div class="col-md-6 mb-3">-->
                                    <!--<input type="text" class="form-control" id="postcode" name="postcode"-->
                                           <!--placeholder="우편번호" value="">-->
                                <!--</div>-->
                                <!--<div class="col-md-3 mb-3">-->
                                    <!--<input type="button" class="btn amado-btn-grey w-100 active"-->
                                           <!--onclick="sample4_execDaumPostcode()" value="주소 찾기">-->
                                <!--</div>-->
                                <!--<div class="col-12 mb-3">-->
                                    <!--<input type="text" class="form-control mb-3" id="roadAddress" name="roadAddress"-->
                                           <!--placeholder="도로명 주소"-->
                                           <!--value="">-->
                                <!--</div>-->
                                <!--<div class="col-12 mb-3">-->
                                    <!--<input type="text" class="form-control mb-3" id="jibunAddress" placeholder="지번 주소"-->
                                           <!--value="">-->
                                <!--</div>-->
                                <!--<span id="guide" style="color:#999;display:none"></span>-->
                                <!--<div class="col-12 mb-3">-->
                                    <!--<input type="text" class="form-control mb-3" id="detailAddress" name="detailAddress"-->
                                           <!--placeholder="상세 주소"-->
                                           <!--value="">-->
                                <!--</div>-->
                                <!--<div class="col-12 mb-3">-->
                                    <!--<input type="text" class="form-control mb-3" id="extraAddress" aceholder="참고 항목"-->
                                           <!--value="">-->
                                <!--</div>-->


                                <div class="col-12 mb-3">
                                    <div style="width: 50%; height: 3px; background-color: #fbb710; margin-bottom: 15px; display: block;"></div>

                                    <h6 style="margin-top: 15px;">글쓰기 </h6>
                                    <textarea name="reviewContent" class="form-control w-100" id="reviewContent" cols="30" rows="10"
                                              placeholder="내용을 입력해 주세요."></textarea>
                                </div>

                                <!--<div class="cart-btn mt-15" align="right">-->
                                    <!--<input class="btn amado-btn" type="submit" value="write">-->
                                <!--</div>-->


                            </div>
                            <div class="cart-btn mt-15" align="right">

                                <button class="btn amado-btn" style="width: 80px;">write</button>

                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- ##### Main Content Wrapper End ##### -->

<!-- 푸터 인클루드 -->
{{> view/include/html_footer}}
</body>

</html>