<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- 헤더 인클루드 -->
    <th:block th:replace="view/include/html_head"></th:block>
</head>

<body>
<!-- 검색창 인클루드 -->
<th:block th:replace="view/include/html_search"></th:block>

<!-- ##### Main Content Wrapper Start ##### 메인 컨텐츠 래퍼 시작-->
<div class="main-content-wrapper d-flex clearfix">

    <!-- 모바일 네비게이션 인클루드 -->
    <th:block th:replace="view/include/html_mobile_nav"></th:block>

    <!-- 왼쪽 네비게이션 메뉴 인클루드 -->
    <th:block th:replace="view/include/html_nav_menu"></th:block>

    <!-- Product Catagories Area Start -->
    <div class="products-catagories-area clearfix">
        <div class="amado-pro-catagory clearfix">

            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix">
                <a href="view/shop/product_category/product_bed.html">
                    <!--<img src="/static/img/bg-img/1.jpg" alt="">-->
                    <img src="/static/img/product/bed/katerattanbed_thumnail.jpg" alt="">

                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From 2,850,000 원</p>
                        <h4>빌라르방 케이트 라탄 베드</h4>
                    </div>
                </a>
            </div>

            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix">
                <a href="view/shop/product_category/product_bed.html">
                    <!--<img src="/static/img/bg-img/2.jpg" alt="">-->
                    <img src="/static/img/product/chest/d8_theo_wallunit_barcounter_home.jpg" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From 1,740,000 원</p>
                        <h4>D8 테오 월유닛 위드 바 카운터</h4>
                    </div>
                </a>
            </div>

            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix">
                <a href="view/shop/product_category/product_bed.html">
                    <img src="/static/img/product/chair/garden_aquaclean_alhambra_single_sofa_thumnail.jpg" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From 720,000 원</p>
                        <h4>가든 아쿠아클린 알함브라 소파</h4>
                    </div>
                </a>
            </div>

            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix">
                <a href="view/shop/product_category/product_bed.html">
                    <img src="/static/img/product/table/kund_merbau_steel_stype_6table_thumnail.jpg" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From 780,000 원</p>
                        <h4>쿤드 멀바우 스틸 S-type 6인 원목 테이블</h4>
                    </div>
                </a>
            </div>

            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix">
                <a href="view/shop/product_category/product_bed.html">
                    <img src="/static/img/product/lamp/oball_interior_pendant_lamp_home.jpg" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From 46,500 원</p>
                        <h4>오볼 인테리어 펜던트 조명</h4>
                    </div>
                </a>
            </div>

            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix">
                <a href="view/shop/product_category/product_bed.html">
                    <img src="/static/img/product/chair/blaskov_taben_1204_bench_whiteoak_thumnail.jpg" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From 240,000 원</p>
                        <h4>블라스코 타벤 1204 화이트오크 원목 벤치</h4>
                    </div>
                </a>
            </div>

            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix">
                <a href="view/shop/product_category/product_bed.html">
                    <img src="/static/img/product/chest/d8_jewellers_shelving_unit_thumnail.jpg" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From 940,000 원</p>
                        <h4>D8 쥬웰러스 쉘빙 유닛</h4>
                    </div>
                </a>
            </div>

            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix">
                <a href="view/shop/product_category/product_bed.html">
                    <img src="/static/img/product/lamp/davian_pendant_home.jpg" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From 32,000 원</p>
                        <h4>다비안 펜던트</h4>
                    </div>
                </a>
            </div>

            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix">
                <a href="view/shop/product_category/product_bed.html">
                    <img src="/static/img/product/lamp/care_wall_lantern_home.jpg" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From 52,000 원</p>
                        <h4>LED 케어 벽걸이 스탠드</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- Product Catagories Area End -->
</div>
<!-- ##### Main Content Wrapper End ##### -->

<!-- 푸터 인클루드 -->
<footer th:replace="view/include/html_footer"></footer>
</body>

</html>